/* 外部css
------------------------------------------------*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* 色定義
------------------------------------------------*/
$themae-color: rgb(0, 108, 220);
$themae-gradation-color: linear-gradient(to right, rgba(0, 108, 220, 0.8) 16%, rgba(126, 187, 219, 0.8) 100%);
$sub-color: rgb(235, 109, 0);
$text-color: #333;
$bg-color1: #fff;
$bg-color2: #F0F0F0;
$bg-color3: #666666;
$marker-color: rgb(255, 36, 36);
$color-active: #dafdff; // ベース色
$border-color: #d9d9d9;

/* その他定義
------------------------------------------------*/

$layer: (modal: 100, drawer: 40, floating: 30, header: 20, footer: 10, default: 1);

//フォント
$english-fonts: "Roboto", sans-serif;
$base-font: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;

//section_top
$pc_section_top_ttl_position: 155px;
$sm_section_top_ttl_position: 22px;

// $pc_section_top_ttl_right:1012px;
// $sm_section_top_ttl_right:;

$pc_section_top_img_left_margin: 0 0 0 260px;
$pc_section_top_img_right_margin: 0 260px 0 0;

/* mixin
------------------------------------------------*/

//マップ型変数breakpointsを定義
$breakpoints: ("sm": "screen and (max-width: 767px)", "pc": "screen and (min-width: 767px)");

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: pc) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}


@mixin common_link {
    width: 200px;
    height: 60px;
    line-height: 60px;
    position: relative;
    margin: 30px auto 0;
    &::before {
        content: "";
        position: absolute;
        transform: translate(-10px, 10px);
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgb(245, 180, 0);
    }

    &__btn {
        text-align: center;
        display: block;
        width: 200px;
        height: 60px;
        line-height: 60px;
        border: 1px solid rgb(104, 104, 104);
        position: relative;
        z-index: 1;
        color: #555;
        transition: all .3s;
        background:  rgba(255, 255, 255, 0.4);

        &--icon {
            margin-left: 10px;
        }

        &:active {
            transform: translate(-10px, 10px);
        }
    }
}

@mixin english_font {
    font-family: $english-fonts;
}

@mixin inner {
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;

    @include mq(sm) {
        padding: 0 15px;
    }
}

@mixin title($pc_position_left, $pc_position_right, $sm_position_left, $sm_position_right, $margin, $text_align, $link) {
    display: block;
    position: relative;

    &__ttl {
        position: absolute;
        transform: translateY(-50%);
        line-height: 1;
        z-index: 2;

        @include mq(pc) {
            top: 50%;
            left: $pc_position_left;
            right: $pc_position_right;
        }


        @include mq(sm) {
            color: #333;
            bottom: -120px;
            left: $sm_position_left;
            right: $sm_position_right;
        }


        &--en {
            display: block;
            font-weight: bold;
            font-size: 70px;
            font-family: $english-fonts;
        }

        &--jp {
            display: block !important;
            margin-top: 10px;
            font-size: 23px;
            font-weight: bold;
            text-align: $text_align;
        }

        &::after {
            content: "";
            font-family: "Roboto";
            position: absolute;
            z-index: -1;
            top: 41px;
            left: -9px;

            // transform: translateY(-70%);
            display: block;
            width: 30px;
            height: 30px;
            background: rgba(0, 108, 220, 0.8);
        }
    }

    &__img {
        background: $link center (center / cover);

        @include mq(pc) {
            margin: $margin;
            height: 260px;
        }


        @include mq(sm) {
            position: relative;
            height: 180px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

@mixin page_top_img($link) {
    width: 100%;
    background: $link rgba(255, 255, 255, 0.6) center (center / cover);
    height: 70vh;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
    }
}

@mixin page_top($pc_x, $sm_x) {
    position: relative;
    height: inherit;

    &__ttl {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translateY(-50%) translateX(-50%);
        display: block;

        &--en {
            line-height: 1.1;
            font-family: $english-fonts;
            font-size: 70px;

            @include mq(sm) {
                font-size: 50px;
            }


            display: block;
        }

        &--jp {
            font-size: 23px;
            display: block;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        display: block;
        width: 30px;
        height: 30px;
        background: rgba(235, 109, 0, 0.8);

        @include mq(pc) {
            transform: translateX($pc_x) translateY(-50%);
        }


        @include mq(sm) {
            transform: translateX($sm_x) translateY(-65%);
        }
    }
}

/*===============================================
# common 共通のスタイル
================================================*/

@include mq("sm") {
    .is-pc {
        display: none !important;
    }

    //pcの時だけ表示 hiddenの逆
}


@include mq("pc") {
    .is-sm {
        display: none !important;
    }

    //spの時だけ表示 hiddenの逆
}


body {
    font-size: 16px;
    color: $text-color;
    font-family: $base-font;
    line-height: 1.6875;
    background: $bg-color2;
}

.bg {
    background: url(../img/img-1.jpg) center (center / cover);
    position: fixed;
    z-index: -999;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 6, 6, 0.2);
    }
}

img {
    width: 100%;
}

.section {
    // padding: 80px 0;
    @include mq(pc) {
        margin-top: 80px;
        padding-bottom: 80px;
    }


    @include mq(sm) {
        margin-top: 40px;
        padding-bottom: 40px;
    }


    &__inner {
        @include inner;
    }

    &__ttl {
        text-align: center;
        font-weight: bold;
    }
}

.common_link{
    @include common_link();

    &--news{
        margin-top: 30px;
    }
}
/*===============================================
# header
================================================*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    background: $bg-color1;
    max-width: 100%;
    width: 100%;
    padding-top: 5px;
    z-index: 10;

    &__inner {
        @include inner;
    }
}

.header_container {
    display: flex;
}

.header_left {
    &__logo {
        width: 76px;
    }
}

.header_right {
    margin-left: auto;
}

.tel {
    text-align: right;
    line-height: 1.3;
    flex-direction: column;
    display: flex;

    @include mq(sm) {
        margin-top: 15px;
        margin-right: 45px;
    }


    &__text {
        display: inline-block;

        @include mq(pc) {
            font-size: 15px;
        }


        @include mq(sm) {
            display: none;
        }
    }

    &__number {
        @include mq(pc) {
            font-size: 32px;
        }


        @include mq(sm) {
            font-size: 22px;
        }


        &--icon {
            margin-right: 5px;
        }
    }

    &__attention {
        @include mq(pc) {
            font-size: 12px;
        }


        @include mq(sm) {
            font-size: 10px;
            margin-top: 5px;
        }
    }
}

.hamburger_btn {
    @include mq(pc) {
        display: none;
    }


    @include mq(sm) {
        display: block;
        position: fixed;
        z-index: 3;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;

        &__part {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 6px;
            background: #555;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            &:nth-child(1) {
                top: 10px;
            }

            &:nth-child(2) {
                top: 20px;
            }

            &:nth-child(3) {
                top: 30px;
            }
        }

        &__text {
            position: absolute;
            top: 35px;
            left: 0;
        }
    }
}

.hamburger_btn.--active {
    & .hamburger_btn__part {
        &:nth-child(1) {
            top: 16px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 16px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.gnav {
    max-width: 100%;
    width: 100%;

    @include mq(sm) {
        color: #000;
        background: $bg-color3;
        text-align: center;
        width: 100%;
        display: none;
    }
}

.gnav_list {
    background: $bg-color3;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @include mq(pc) {
        display: flex;
        text-align: center;
    }


    &__item {
        list-style-type: none;
        padding: 0;
        width: 100%;
        transition: background .3s ease-out;

        @include mq(pc) {
            border-right: 1px solid $border-color;
        }


        @include mq(sm) {
            border-bottom: 1px solid #fff;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }


        &:hover {
            background: #fff;
        }
        
        &_link {
            display: block;
            font-weight: bold;
            color: #fff;
            padding: 1em 0;
            text-decoration: none;
            transition: color .3s ease-out;
            
            &:hover {
                color: #666;
            }
        }
    }
}


/*===============================================
# mainvisual
================================================*/

.mainvisual {
    position: relative;
    width: 100%;
    background-image: url(../img/mainvisual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include mq(pc) {
        min-height: 450px;
        padding-top: 39.06%;
    }


    @include mq(sm) {
        padding-top: 90%;
        padding-bottom: 20px;
    }


    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: radial-gradient(rgba(0, 0, 0, 0.2) 30%, transparent 31%), radial-gradient(rgba(0, 0, 0, 0.2) 30%, transparent 31%);
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 4px 4px;
        background-position: 0 0, 2px 2px;
    }
}

.mainvisual_content {
    position: absolute;
    max-width: 800px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__text {
        color: $text-color;
        text-shadow: 0px 0px 12px #fff, 0px 0px 5px #fff, 0px 0px 12px #fff, 0px 0px 5px #fff;

        @include mq(pc) {
            font-size: 57px;
        }


        @include mq(sm) {
            font-size: 21px;
        }


        &--emphasis {
            color: $themae-color;
        }
    }
}

/*===============================================
# news
================================================*/
.news {
    background: transparent;
}

.news_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/news.jpg));
}

.news_content {
    max-width: 1200px;
    width: 100%;

    @include mq(pc) {
        margin: 80px auto 0;
    }


    @include mq(sm) {
        margin: 100px auto 0;
    }
}

.news_list {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    transition: all .3s ease-out;

    @include mq(pc) {
        cursor: pointer;
    }


    &:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.05);
    }
}

.news_item {
    padding: 10px;
    font-weight: bold;

    @include mq(pc) {
        display: flex;
        align-items: center;
    }


    @include mq(sm) {
        display: block;
    }


    &__category {
        height: 30px;
        text-align: center;
        color: #fff;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }


        &--blue {
            background: rgba(0, 108, 220, 0.7);
        }

        &--orange {
            background: rgba(237, 109, 0, 0.7);
        }

        &--red {
            background: rgba(255, 36, 36, 0.7);
        }
    }

    &__date {
        font-size: 17px;
        text-align: center;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }
    }

    &__new {
        display: inline-block;
        background-color: rgba(255, 36, 36, 0.7);
        width: 60px;
        color: #fff;
        text-align: center;

        @include mq(pc) {
            flex: 0 0 60px;
            order: 1;
            margin-left: 20px;
        }
    }
}

.page_numbers {
    margin-top: 10px;
    display: flex;
    max-width: 100%;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.page_number {
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(0, 255, 76);
    background: rgba(0, 255, 76, 0.2);
    border-radius: 3px;
    transition: all .3s ease-out;

    &:last-child {
        margin-right: 0;
    }

    @include mq(pc) {
        margin: 0 20px;
        margin-top: 20px;
    }


    @include mq(sm) {
        margin: 0 10px;
        margin-top: 10px;
    }


    &__link {
        display: block;
        line-height: 40px;
        color: #fff;
    }

    &:hover {
        background: rgb(0, 255, 76);
    }
}

/*===============================================
# work
================================================*/

.work_top {
    @include title(auto, $pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, $pc_section_top_img_right_margin, right, url(../img/work.jpg));
}

.slider {
    margin: 80px auto 0;

    // background: #fff;
}

.slider_item {
    @include mq(pc) {
        margin-right: 50px;
    }


    @include mq(sm) {
        margin-right: 20px;
    }


    &__img {
        position: relative;
    }

    &__ttl {
        margin-top: 20px;
    }
}

.slider_part {
    position: absolute;
    bottom: -10px;

    // width: 240px;
    &__tag {
        background: rgb(50, 52, 56);
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 0 5px;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 3px solid $sub-color;
            margin-right: 5px;
        }
    }
}

/*===============================================
# to_top
================================================*/

.to_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 5;
    text-align: center;
    cursor: pointer;

    &__arrow {
        color: $themae-color;
    }

    &:hover &__arrow {
        animation: to_top_animation 1s infinite;
    }
}

@keyframes to_top_animation {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*===============================================
# footer
================================================*/
.footer {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 0;
}

.footer_nav_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    &__item {
        padding: 5px;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        &_link {
            color: $text-color;
        }
    }
}

.footer_body {
    margin-top: 20px;
    text-align: center;

    &__logo {
        width: 180px;
        height: 160px;
        margin: 0 auto;
    }

    &__catchphrase {
        font-size: 20px;
    }
}

.footer_address {
    display: flex;
    flex-direction: column;

    &__street_address {
        font-size: 13px;

        @include mq(sm) {
            font-size: 10px;
        }
    }

    font-style: normal;

    &__tell {
        font-size: 18px;
    }
}

.footer_adderss__tell--icon {
    margin-right: 10px;
}

.footer_footer {
    text-align: center;

    &__copyright {
        font-size: 12px;
        color: #888;
    }
}

/*===============================================
# about.html
================================================*/
.introduce {
    @include page_top_img(url(../img/img_3.jpg));
}

.introduce_top {
    @include page_top(-580%, -416%);
}

/*===============================================
# description
================================================*/
.description {
    @include mq(pc) {
        padding: 80px 0;
    }


    @include mq(sm) {
        padding: 40px 0;
    }
}

.description_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/description.jpg));
    @include mq(sm) {
        &__ttl {
            left: 8px;
            bottom: -113px;

            &--en {
                font-size: 43px;
            }

            &::after {
                top: 17px;
                left: -7px;
            }
        }
    }
}

.description_container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;

    @include mq(pc) {
        margin: 60px auto 0;
        display: flex;
    }


    @include mq(sm) {
        margin: 80px auto 0;
        padding: 0 20px;
    }
}

.description_body {
    width: 100%;
    flex: 0 1 500px;

    @include mq(pc) {
        max-width: 600px;
        margin-right: 30px;
    }


    @include mq(sm) {
        margin-top: 15px;
    }


    &__catchphrase {
        @include mq(pc) {
            font-size: 30px;
        }


        @include mq(sm) {
            font-size: 30px;
            line-height: 1.4;
        }
    }

    &__text {
        @include mq(pc) {
            margin-top: 16px;
        }


        @include mq(sm) {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.description_body_img {
    position: relative;

    @include mq(pc) {
        flex: 0 0 380px;
        order: 1;
    }


    &__item {
        @include mq(pc) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        width: 100%;
        background: #88888899;

        @include mq(pc) {
            height: 253px;
            top: 50%;
            left: 0px;
            transform: translateY(-45%) translateX(15px);
        }


        @include mq(sm) {
            height: 100%;
            top: 10px;
            left: 10px;
        }
    }
}

/*===============================================
# idea 
================================================*/
.idea {
    @include mq(pc) {
        padding: 80px 0;
    }


    @include mq(sm) {
        padding: 40px 0;
    }
}

.idea_top {
    @include title(auto, $pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, $pc_section_top_img_right_margin, right, url(../img/idea.jpg));
}

.idea_container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;

    @include mq(pc) {
        margin: 60px auto 0;
        display: flex;
    }


    @include mq(sm) {
        margin: 80px auto 0;
        padding: 0 20px;
    }
}

.idea_body {
    width: 100%;
    flex: 0 1 500px;

    @include mq(pc) {
        max-width: 600px;
        margin-left: 30px;
    }


    @include mq(sm) {
        margin-top: 15px;
    }


    &__catchphrase {
        @include mq(pc) {
            font-size: 30px;
        }


        @include mq(sm) {
            font-size: 30px;
            line-height: 1.4;
        }
    }

    &__text {
        @include mq(pc) {
            margin-top: 16px;
        }


        @include mq(sm) {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.idea_body_img {
    position: relative;

    @include mq(pc) {
        flex: 0 0 380px;
    }


    &__item {
        @include mq(pc) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        width: 100%;
        background: #88888899;

        @include mq(pc) {
            height: 253px;
            top: 50%;
            left: 0px;
            transform: translateY(-45%) translateX(15px);
        }


        @include mq(sm) {
            height: 100%;
            top: 10px;
            left: 10px;
        }
    }
}

/*===============================================
# history
================================================*/
.history {
    @include mq(pc) {
        padding: 80px 0;
    }


    @include mq(sm) {
        padding: 40px 0;
    }
}

.history_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/history.jpg));
    @include mq(sm) {
        &__ttl {
            left: 8px;
            bottom: -115px;

            &--en {
                font-size: 64px;
            }
        }
    }
}

.history_content {
    background: #ffffff99;

    @include mq(pc) {
        max-width: 700px;
        width: 100%;
        margin: 80px auto 0;
        padding: 60px;
    }


    @include mq(sm) {
        margin-top: 120px;
        padding: 40px 0;
    }
}

.table_ttl {
    text-align: center;
    font-size: 30px;
}

.history_table {
    @include mq(sm) {
        margin: 0 auto;
    }
}

.history_table_row {
    display: flex;

    @include mq(sm) {
        border-bottom: 1px solid #888;
        padding: 16px;
        flex-direction: column;
    }


    &__ttl {
        @include mq(pc) {
            flex: 0 0 230px;
            text-align: center;
            padding: 16px 28px;
            border-bottom: 1px solid #333;
            margin-right: 5px;
        }


        @include mq(sm) {
            text-align: left;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__text {
        @include mq(pc) {
            flex: 0 1 70%;
            padding: 16px 28px;
            border-bottom: 1px solid #888;
        }


        @include mq(sm) {
            text-align: left;
            font-size: 15px;
            font-weight: normal;
        }
    }
}

/*===============================================
# news.html
================================================*/
.information {
    @include page_top_img(url(../img/img_3.jpg));
}

.information_top {
    @include page_top(-797%, -586%);
}

/*===============================================
# ir.html
================================================*/

.investor_relations {
    @include page_top_img(url(../img/ir_top.jpg));
}

.investor_relations_top {
    @include page_top(-940%, -387%);
    @include mq(sm) {
        &::after {
            transform: translateX(-387%) translateY(-160%);
        }
    }
}

/*===============================================
# ir_materials
================================================*/
.ir_materials_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/ir_materials.jpg));
    @include mq(sm) {
        &__ttl--en {
            font-size: 56px;
        }
    }


    @include mq(sm) {
        &__ttl::after {
            top: 30px;
        }
    }
}

.ir_materials_content {
    max-width: 1040px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #FFFfff99;

    @include mq(pc) {
        margin: 40px auto 0;
    }


    @include mq(sm) {
        margin: 80px auto 0;
    }
}

.ir_materials_ttl {
    align-self: center;
    text-align: center;
    color: #333;
    flex: 0 0 160px;
    font-size: 20px;

    &__icon {
        color: rgba(255, 36, 36, 0.7);
        margin-right: 10px;
    }
}

.ir_materials_items {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 600px;
    align-self: center;
    justify-content: space-around;
}

.ir_materials_item {
    justify-self: center;
    padding: 10px 0;
    color: #333;
    flex: 0 1 250px;

    &:hover {
        text-decoration: underline;
    }
}

.ir_materials_download {
    border: 1px solid #888;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all .3s ease-in-out;
    flex: 0 0 160px;
    padding: 10px 0;

    &:hover {
        // background: $color-active;
        border: 3px solid #006CDC;
    }
}

.ir_materials_download_link {
    color: #333;

    @include mq(sm) {
        display: grid;
        flex: auto;
    }


    &__text {
        font-size: 18px;
    }

    &__icon {
        font-size: 32px;
    }
}

/*===============================================
# ir_news
================================================*/

.ir_news {
    @include mq(pc) {
        padding-bottom: 40px;
    }


    @include mq(sm) {
        padding: 40px 0;
    }
}

.ir_news_top {
    @include title(auto, $pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, $pc_section_top_img_right_margin, right, url(../img/ir_news.jpg));
}

.ir_news_content {
    max-width: 1200px;
    width: 100%;

    @include mq(pc) {
        margin: 80px auto 0;
    }


    @include mq(sm) {
        margin: 100px auto 0;
    }
}

.ir_news_list {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    transition: all .3s ease-out;

    @include mq(pc) {
        cursor: pointer;
    }


    &:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.05);
    }
}

.ir_news_item {
    padding: 10px;
    font-weight: bold;

    @include mq(pc) {
        display: flex;
        align-items: center;
    }


    @include mq(sm) {
        display: block;
    }


    &__category {
        height: 30px;
        text-align: center;
        color: #fff;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }


        &--blue {
            background: rgba(0, 108, 220, 0.7);
        }

        &--orange {
            background: rgba(237, 109, 0, 0.7);
        }

        &--red {
            background: rgba(255, 36, 36, 0.7);
        }
    }

    &__date {
        font-size: 17px;
        text-align: center;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }
    }

    &__pdf {
        display: inline-block;
        background-color: rgba(255, 36, 36, 0.7);
        width: 60px;
        color: #fff;
        text-align: center;

        @include mq(pc) {
            flex: 0 0 60px;
            order: 1;
            margin-left: 20px;
        }


        &--icon {
            margin-right: 5px;
        }
    }
}

/*===============================================
# access.html
================================================*/
.access {
    @include page_top_img(url(../img/access.jpg));
}

.access_top {
    @include page_top(-475%, -353%);
}

/*===============================================
# gmap
================================================*/

.gmap_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/gmap.jpg));
}

.gmap_content {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 80px;

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.gmap_link {
    color: $themae-color;
    display: inline-block;
    margin-top: 10px;

    &:hover {
        text-decoration: underline;
    }
}

/*===============================================
# employment.html
================================================*/
.recruit {
    @include page_top_img(url(../img/recruit.jpg));
}

.recruit_top {
    @include page_top(-502%, -370%);
}

/*===============================================
# new_grid
================================================*/
.new_grid_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/new_grid.jpg));
}

.new_grid_content_wrap {
    @include mq(pc) {
        margin-top: 50px;
    }


    @include mq(sm) {
        padding: 0 30px;
        margin-top: 80px;
    }
}

.new_grid_content {
    width: 100%;
    max-width: 600px;
    border: 0px solid transparent;
    transition: all .3s;
    margin: 0 auto;

    &__img {
        img {
            @include mq(pc) {
                height: 222px;
            }


            @include mq(sm) {
                max-height: 222px;
            }
        }
    }

    &__text {
        @include mq(pc) {
            font-size: 40px;
            margin-left: 10px;
        }


        @include mq(sm) {
            font-size: 18px;
            margin-left: 5px;
        }
    }

    &:hover {
        border: 5px solid $themae-color;
    }
}

/*===============================================
#internship 
================================================*/

.internship_top {
    @include title(auto, $pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, $pc_section_top_img_right_margin, right, url(../img/internship.jpg));

    &__img {
        &::after {
            background: rgba(255, 255, 255, 0.3);
        }
    }

    @include mq(sm) {
        &__ttl {
            bottom: -92px;
            right: 13px;

            &::after {
                left: -9px;
                top: 22px;
            }

            &--en {
                font-size: 45px;
            }
        }
    }
}

.internship_content_wrap {
    @include mq(pc) {
        margin-top: 50px;
    }


    @include mq(sm) {
        padding: 0 30px;
        margin-top: 80px;
    }
}

.internship_content {
    width: 100%;
    max-width: 600px;
    border: 0px solid transparent;
    transition: all .3s;
    margin: 0 auto;

    &__img {
        img {
            @include mq(pc) {
                height: 222px;
            }


            @include mq(sm) {
                max-height: 222px;
            }
        }
    }

    &__text {
        @include mq(pc) {
            font-size: 40px;
            margin-left: 10px;
        }


        @include mq(sm) {
            font-size: 18px;
            margin-left: 5px;
        }
    }

    &:hover {
        border: 5px solid $themae-color;
    }
}

/*===============================================
# others
================================================*/
.others_top {
    @include title($pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, auto, $pc_section_top_img_left_margin, left, url(../img/others.jpg));
}

.others_content_wrap {
    @include mq(pc) {
        margin-top: 50px;
        display: flex;
    }


    @include mq(sm) {
        padding: 0 30px;
        margin-top: 80px;
    }
}

.others_content {
    width: 100%;
    max-width: 350px;
    border: 0px solid transparent;
    transition: all .3s;
    margin: 0 auto;

    &--handicapped {
        @include mq(sm) {
            margin: 30px auto 0;
        }
    }

    &__img {
        img {
            @include mq(pc) {
                height: 222px;
            }


            @include mq(sm) {
                max-height: 222px;
            }
        }
    }

    &__text {
        @include mq(pc) {
            font-size: 40px;
            margin-left: 10px;
        }


        @include mq(sm) {
            font-size: 18px;
            margin-left: 5px;
        }
    }

    &:hover {
        border: 5px solid $themae-color;
    }
}

/*===============================================
# contact.html
================================================*/

.contact {
    @include page_top_img(url(../img/contact.jpg));
}

.contact_top {
    @include page_top(-535%, -390%);
}

/*===============================================
# web_form
================================================*/
.contact_web_top {
    @include title(auto, $pc_section_top_ttl_position, auto, $sm_section_top_ttl_position, $pc_section_top_img_right_margin, right, url(../img/contact_web.jpg));
}

.contact_content {
    max-width: 1000px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);

    @include mq(pc) {
        margin: 50px auto 0;
        padding: 40px;
    }


    @include mq(sm) {
        margin: 80px auto 0;
        padding: 20px;
    }
}

.contact_form_top {
    text-align: center;
    line-height: 1.2;

    &__text {
        font-size: 20px;
    }

    &__tell {
        font-size: 38px;
        color: $themae-color;
    }

    &__date {
        font-size: 13px;
    }
}

.contact_form {
    
    margin-top: 30px;
    &__text {
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
    }
}

.form_items {
    margin-top: 20px;
}

.form_item {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    @include mq(pc) {
        display: flex;
        justify-content: center;
        height: 50px;
    }


    @include mq(sm) {
        display: block;
        height: auto;
    }


    &--content {
        height: auto;
    }

    &__ttl {
        @include mq(pc) {
            padding: 15px;
            flex: 0 0 200px;
            display: flex;
            align-items: center;
        }


        @include mq(sm) {
            padding: 5px;
        }


        &--mandatory {
            background-color: rgba(255, 36, 36, 0.7);
            padding: 3px;
            color: #fff;

            @include mq(pc) {
                margin-left: auto;
            }


            @include mq(sm) {
                margin-left: 10px;
            }
        }
    }
}

.form_item_body {
    display: flex;

    @include mq(pc) {
        flex: 0 1 500px;
    }


    &__postal_code_part {
        font-size: 24px;
        flex: 0 0 20px;
        margin-right: 10px;
        justify-self: center;
    }

    &__input {
        flex: 1 1 100%;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;
        border: 2px solid #999;
        background: #FFF;
        transition: all .3s;

        @include mq(sm) {
            height: 50px;
        }


        &:focus {
            border: 2px solid $themae-color;
            background: $color-active;
        }

        &:-internal-autofill-selected {
            color: none;
        }

        &--last, &--first {
            &:nth-child(2n) {
                @include mq(pc) {
                    margin-left: 30px;
                }


                @include mq(sm) {
                    margin-left: 10px;
                }
            }

            @include mq(sm) {
                min-width: 108px;
                flex: 0 1 calc(50% - 10px);
                flex-wrap: wrap;
            }
        }
    }

    &__submit {
        position: absolute;
        top: -1000px;
        visibility: hidden;
    }

    &__textarea {
        flex: 1 1 100%;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;
        border: 2px solid #999;
        background: #FFF;
        transition: all .3s;
        height: 100px;
        resize: vertical;
        padding: 10px;

        @include mq(sm) {
            height: 50px;
        }


        &:focus {
            border: 2px solid $themae-color;
            background: $color-active;
        }
    }
}

.input_success {
    background: rgba(0, 255, 85, 0.5) !important;
}

.input_error {
    background: rgba(255, 36, 36, 0.7) !important;

    &::placeholder {
        color: rgba(255, 255, 17, 0.8);
        font-weight: bold;
    }

    // IE
    &:-ms-input-placeholder {
        color: rgba(255, 255, 17, 0.8);
        font-weight: bold;
    }

    // Edge
    &::-ms-input-placeholder {
        color: rgba(255, 255, 17, 0.8);
        font-weight: bold;
    }

    @include mq(sm) {
        &::placeholder {
            font-size: 10px;
        }

        // IE
        &:-ms-input-placeholder {
            font-size: 10px;
        }

        // Edge
        &::-ms-input-placeholder {
            font-size: 10px;
        }
    }
}

.form_item__privacy {
    margin-top: 20px;
    height: 150px;
    background: #FFF;
    overflow: scroll;

    @include mq(pc) {
        padding: 20px;
    }


    @include mq(sm) {
        padding: 10px;
        font-size: 14px;
    }


    &--ttl {
        text-align: center;

        @include mq(pc) {
            font-size: 30px;
            margin-bottom: 20px;
        }


        @include mq(sm) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

.form_item_check {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    &__part {
        flex: 0 0 30px;
        cursor: pointer;

        &::before {
            content: "\f096";
            font-family: FontAwesome;
            display: inline-block;
            letter-spacing: 10px;
            font-size: 25px;
            vertical-align: text-top;
            text-align: center;
            color: #999;
        }
    }

    &__input {
        visibility: hidden;
    }

    &__input:checked + &__part::before {
        content: "\f046";
        letter-spacing: 5px;
        color: $themae-color;
    }

    &__text {
        align-self: center;
    }
}

.form_submit {
    text-align: center;
    margin-top: 10px;

    &__btn {
        position: relative;
        width: 180px;
        height: 60px;
        line-height: 30px;
        background: #221188;
        color: #FFF;
        box-shadow: 1px 5px 5px #33333399;
        transition: all .3s;
        transform: translateX(0px) translateY(0px);

        &::after {
            content: "";
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12px 12px;
            border-color: transparent transparent #eeff00 transparent;
            line-height: 0px;
            _border-color: #000000 #000000 #eeff00  #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            transition: all .3s;
        }

        &:disabled {
            background: #888;
            box-shadow: none;
            transform: translateX(1px) translateY(5px);

            // color: #333;

            &::after {
                border-color: transparent transparent #555 transparent;
                line-height: 0px;
                _border-color: #000000 #000000 #555  #000000;
                _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            }
        }
    }
}

//送信に成功時の画面
.submit_success {
    display: none;
}

.submit_success_top {
    text-align: center;

    &__lead {
        line-height: 1.2;
        margin-bottom: 10px;

        @include mq(pc) {
            font-size: 32px;
        }


        @include mq(sm) {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 20px;

        @include mq(sm) {
            font-size: 14px;
        }
    }
}

.sns_items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.sns_top, .sns_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sns_item {
    margin: 20px 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        transform: translate(-10px, 10px);
        display: block;
        width: 100%;
        height: 100%;
    }
    
    &--twitter{
        &::before{
            background-color: rgb(29,161,242);       
        }
    }
    &--facebook{
        &::before{
            background-color: rgb(60,90,153);       
        }
    }
    &--instagram{
        &::before{
            background-color: rgb(207,46,146);       
        }
    }
    
    &--line{
        &::before{
            background-color: rgb(0,185,0);
        }
    }
}

.sns_item_content {
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    color: #555;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 18px;
    border: 1px solid rgb(104, 104, 104);
    color: #fff;
    position:relative;
    z-index: 1;
    transition: all .3s;
    &__text{
        text-shadow:0px 1px 1px  #333;
    }
    &__icon{
        text-shadow:0px 1px 1px  #333;
        
    }

    &:active {
        transform: translate(-10px, 10px);
    }
}

//送信に失敗時のの画面
.submit_error {
    display: none;
}

.submit_error_top {
    text-align: center;

    &__lead {
        line-height: 1.2;
        margin-bottom: 10px;

        @include mq(pc) {
            font-size: 32px;
        }


        @include mq(sm) {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 20px;

        @include mq(sm) {
            font-size: 14px;
        }
    }
}
