/* 色定義
------------------------------------------------*/
$themae-color: #006CDC;
$themae-gradation-color: linear-gradient(to right, rgba(0, 108, 220, 0.8) 16%, rgba(126, 187, 219, 0.8) 100%);
$sub-color: rgb(235, 109, 0);
$text-color: #333;
$bg-color1: #fff;
$bg-color2: #F0F0F0;
$bg-color3: #666666;
$marker-color: rgb(255, 36, 36);
$color-active: #dafdff; // ベース色
$border-color: #d9d9d9;

/* その他定義
------------------------------------------------*/

$layer: (modal: 100, drawer: 40, floating: 30, header: 20, footer: 10, default: 1);

//フォント
$english-fonts: "Roboto", sans-serif;
$base-font: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;

//section_top
$pc_section_top_ttl_position: 155px;
$sm_section_top_ttl_position: 22px;

// $pc_section_top_ttl_right:1012px;
// $sm_section_top_ttl_right:;

$pc_section_top_img_left_margin: 0 0 0 260px;
$pc_section_top_img_right_margin: 0 260px 0 0;

/* mixin
------------------------------------------------*/

//マップ型変数breakpointsを定義
$breakpoints: ("sm": "screen and (max-width: 767px)", "pc": "screen and (min-width: 767px)");

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: pc) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

@mixin btn__part {
    width: 200px; //横幅
    height: 60px; //高さ
    line-height: 60px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 5px 5px rgba(66, 66, 66, 0.8);
    background: rgba(95, 199, 255, 0.8);
    border-radius: 10px;
    transition: background .3s;
    box-sizing: border-box;
    cursor: pointer;
}

@mixin btn__part--hover {
    &:hover {
        border: 1px solid rgba(126, 187, 219, 0.8);
        background: rgba(0, 108, 220, 0.8);
    }
}

@mixin english_font {
    font-family: $english-fonts;
}

@mixin inner {
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;

    @include mq(sm) {
        padding: 0 15px;
    }
}

@mixin section_top($pc_position_left,$pc_position_right,$sm_position_left,$sm_position_right, $margin,$text_align,$link) {
    display: block;
    position: relative;

    &__ttl {
        position: absolute;
        transform: translateY(-50%);
        line-height: 1;
        z-index: 2;

        @include mq(pc) {
            top: 50%;
            left: $pc_position_left;
            right: $pc_position_right;
        }


        @include mq(sm) {
            color: #333;
            bottom: -120px;
            left: $sm_position_left;
            right: $sm_position_right;
        }


        &--en {
            display: block;
            font-weight: bold;
            font-size: 70px;
            font-family: $english-fonts;
        }

        &--jp {
            display: block !important;
            margin-top: 10px;
            font-size: 23px;
            font-weight: bold;
            text-align: $text_align;
        }

        &::after {
            content: "";
            font-family: "Roboto";
            position: absolute;
            z-index: -1;
            top: 41px;
            left: -9px;

            // transform: translateY(-70%);
            display: block;
            width: 30px;
            height: 30px;
            background: rgba(0, 108, 220, 0.8);
        }
    }

    &__img {
        background: $link center (center / cover);

        @include mq(pc) {
            margin: $margin;
            height: 260px;
        }


        @include mq(sm) {
            position: relative;
            height: 180px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

/*===============================================
# common 共通のスタイル
================================================*/

@include mq("sm") {
    .is-pc {
        display: none !important;
    }

    //pcの時だけ表示 hiddenの逆
}


@include mq("pc") {
    .is-sm {
        display: none !important;
    }

    //spの時だけ表示 hiddenの逆
}


body {
    font-size: 16px;
    color: $text-color;
    font-family: $base-font;
    line-height: 1.6875;
    background: $bg-color2;
}

.bg {
    background: url(../img/img-1.jpg) center (center / cover);
    position: fixed;
    z-index: -999;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 6, 6, 0.2);
    }
}

img {
    width: 100%;
}

.section {
    // padding: 80px 0;
    @include mq(pc) {
        margin-top: 80px;
        padding-bottom: 80px;
    }


    @include mq(sm) {
        margin-top: 40px;
        padding-bottom: 40px;
    }


    &__inner {
        @include inner;
    }

    &__ttl {
        text-align: center;
        font-weight: bold;
    }
}



//link-btn
.btn {
    @include btn__part;
    @include btn__part--hover;

    $this: &;

    &--mainvisual {
        margin: 20px auto 0;
    }

    &--news {
        margin: 20px auto 0;
    }

    &__link {
        color: #fff;
        font-weight: bold;
    }
}

/*===============================================
# header
================================================*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    background: $bg-color1;
    max-width: 100%;
    width: 100%;
    padding-top: 5px;
    z-index: 3;

    &__inner {
        @include inner;
    }
}

.header_container {
    display: flex;
}

.header_left {
    &__logo {
        width: 76px;
    }
}

.header_right {
    margin-left: auto;
}

.tel {
    text-align: right;
    line-height: 1.3;
    flex-direction: column;
    display: flex;

    @include mq(sm) {
        margin-top: 15px;
        margin-right: 45px;
    }


    &__text {
        display: inline-block;

        @include mq(pc) {
            font-size: 15px;
        }


        @include mq(sm) {
            display: none;
        }
    }

    &__number {
        @include mq(pc) {
            font-size: 32px;
        }


        @include mq(sm) {
            font-size: 22px;
        }


        &--icon {
            margin-right: 5px;
        }
    }

    &__attention {
        @include mq(pc) {
            font-size: 12px;
        }


        @include mq(sm) {
            font-size: 10px;
            margin-top: 5px;
        }
    }
}

.hamburger_btn {
    @include mq(pc) {
        display: none;
    }


    @include mq(sm) {
        display: block;
        position: fixed;
        z-index: 3;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;

        &__part {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 6px;
            background: #555;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            &:nth-child(1) {
                top: 10px;
            }

            &:nth-child(2) {
                top: 20px;
            }

            &:nth-child(3) {
                top: 30px;
            }
        }

        &__text {
            position: absolute;
            top: 35px;
            left: 0;
        }
    }
}

.hamburger_btn.--active {
    & .hamburger_btn__part {
        &:nth-child(1) {
            top: 16px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 16px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.gnav {
    max-width: 100%;
    width: 100%;

    @include mq(sm) {
        color: #000;
        background: $bg-color3;
        text-align: center;
        width: 100%;
        display: none;
    }
}

.gnav_list {
    background: $bg-color3;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @include mq(pc) {
        display: flex;
        text-align: center;
    }


    &__item {
        list-style-type: none;
        padding: 0;
        width: 100%;
        transition: background .3s ease-out;

        @include mq(pc) {
            border-right: 1px solid $border-color;
        }


        @include mq(sm) {
            border-bottom: 1px solid #fff;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }


        &:hover {
            background: #fff;
        }

        &_link {
            display: block;
            font-weight: bold;
            color: #fff;
            padding: 1em 0;
            text-decoration: none;
            transition: color .3s ease-out;

            &:hover {
                color: #666;
            }
        }
    }
}

/*===============================================
# mainvisual
================================================*/

.mainvisual {
    position: relative;
    width: 100%;
    background-image: url(../img/mainvisual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include mq(pc) {
        min-height: 450px;
        padding-top: 39.06%;
    }


    @include mq(sm) {
        padding-top: 90%;
        padding-bottom: 20px;
    }


    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: radial-gradient(rgba(0, 0, 0, 0.2) 30%, transparent 31%), radial-gradient(rgba(0, 0, 0, 0.2) 30%, transparent 31%);
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 4px 4px;
        background-position: 0 0, 2px 2px;
    }
}

.mainvisual_content {
    position: absolute;
    max-width: 800px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__text {
        color: $text-color;
        text-shadow: 0px 0px 12px #fff, 0px 0px 5px #fff, 0px 0px 12px #fff, 0px 0px 5px #fff;

        @include mq(pc) {
            font-size: 57px;
        }


        @include mq(sm) {
            font-size: 21px;
        }


        &--emphasis {
            color: $themae-color;
        }
    }
}

/*===============================================
# news
================================================*/
.news {
    background: transparent;
}   

.news_top {
    @include section_top($pc_section_top_ttl_position,none,$sm_section_top_ttl_position,none,$pc_section_top_img_left_margin,left,url(../img/news.jpg));
}

.news_content {
    max-width: 1200px;
    width: 100%;

    @include mq(pc) {
        margin: 80px auto 0;
    }


    @include mq(sm) {
        margin: 100px auto 0;
    }
}

.news_list {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    transition: all .3s ease-out;

    @include mq(pc) {
        cursor: pointer;
    }


    &:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.05);
    }
}

.news_item {
    padding: 10px;
    font-weight: bold;

    @include mq(pc) {
        display: flex;
        align-items: center;
    }


    @include mq(sm) {
        display: block;
    }


    &__category {
        height: 30px;
        text-align: center;
        color: #fff;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }


        &--blue {
            background: rgba(0, 108, 220, 0.7);
        }

        &--orange {
            background: rgba(237, 109, 0, 0.7);
        }

        &--red {
            background: rgba(255, 36, 36, 0.7);
        }
    }

    &__date {
        font-size: 17px;
        text-align: center;

        @include mq(pc) {
            flex: 0 0 120px;
        }


        @include mq(sm) {
            display: inline-block;
            max-width: 120px;
            width: 100%;
        }
    }
}

/*===============================================
# work
================================================*/

.work_top {
    @include section_top(none,$pc_section_top_ttl_position,none,$sm_section_top_ttl_position,$pc_section_top_img_right_margin,right,url(../img/work.jpg));
}

.slider{
    margin: 80px auto 0;
    // background: #fff;
}

.slider_item{
    @include mq(pc) {
        
        margin-right: 50px;
    }

    @include mq(sm) {
        margin-right: 20px;
    }

    &__img{
        position: relative;
    }

    &__ttl{
        margin-top: 20px;
    }
}

.slider_part{
    position: absolute;
    bottom:-10px;
    // width: 240px;
    &__tag{
        background:rgb(50, 52, 56);
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 0 5px;
        &::before{
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 3px solid $sub-color;
            margin-right:5px;
        }
    }
}

/*===============================================
# footer
================================================*/
.footer{

    background: rgba(255, 255, 255,.6);
    padding: 20px 0;
}
.footer_nav_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    &__item{
        padding: 5px;
        border-left: 1px solid $border-color;
        border-right:1px solid $border-color ;
        &_link{
            color: $text-color;
        }
    }
}

.footer_body{
    margin-top: 20px;
    text-align: center;
    &__logo{
        width: 180px;
        height: 160px;
        margin: 0 auto;
    }
    &__catchphrase{
        font-size: 20px;
    }
}

.footer_address{
    display: flex;
    flex-direction: column;
    &__street_address{
        font-size: 13px;
        @include mq(sm) {
            font-size:10px;
        }
    }
    font-style: normal;
    &__tell{
        font-size: 18px;
    }
}

.footer_adderss__tell--icon{
    margin-right: 10px;
}

.footer_footer{
    text-align: center;
    &__copyright{
        font-size: 12px;
        color:#888;
    }
}